<div class="Global fadeIn">
  <div class="Subtitulo">
    <h3 class="text-center m-5">
      VISIT US AT OUR STORE
    </h3>
  </div>

  <div class="infoZn">
    <div>
      <h4>Address:</h4>
      <span class="mt-2">
        500 Terry Francois Street San Francisco, CA 94158
      </span>
    </div>
    <div>
      <h4 class="mt-4">Opening Hours:</h4>
      <span class="mt-4">
        Mon-Thu: 10:00am - 7:00pm Friday: 9:00am - 9:00pm Saturday: 9:00am -
        5:00pm Sunday: Closed
      </span>
    </div>
  </div>

  <div class="mapaZn">
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.913265461825!2d12.480820665441623!3d41.89472237922092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f604d1b805de3%3A0x21154807a7b83fe1!2sAltar%20of%20the%20Fatherland!5e0!3m2!1sen!2smx!4v1589164362492!5m2!1sen!2smx"
        width="450"
        height="280"
        frameborder="0"
        style="border: 0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</div>

<div class="About">
  <h3 class="text-center m-5">ABOUT US</h3>
  <p>
    I'm a paragraph. Click here to add your own text and edit me. It’s easy.
    Just click “Edit Text” or double click me to add your own content and make
    changes to the font. Feel free to drag and drop me anywhere you like on your
    page. I’m a great place for you to tell a story and let your users know a
    little more about you.
  </p>
</div>
