<div class="text-center mt-5 getlist">
  <h4 >GET ON LIST</h4>
  <div class="col-12"></div>

  <div class="text-center">
    <div class="row">
      <div class="col-12">
        <p class="text-center">and be the first to shop new products</p>
      </div>
    </div>
    
    <div class="row">
    <div class="col-12">
          <input type="text" placeholder="ingresa tu correo"/>
      </div>
   </div>
<div class="col-12 mt-2">
   <button
   class="btn text-light"
   style="background-color: #a3c7bd;"
   >Subscribe Now</button>
</div>
  </div>
</div>
