<div class="cuadroGris">
    <div class="nombre">CELLFISH</div>
    <div>
        <ul>
            <li>
                <p>  CUSTUMER CARE </p>
            </li>
            <li>Shiping Policy></li>
            <li>Returns Policy></li>
            <li>Contact Us></li>
            <li>About Us></li>
        </ul>
    </div>

    <div>
        <ul>
        <li>
            <p>VISIT OUR STORE</p>
        </li>

        <li>
            500 Terry Francois Street
        </li>
        <li>
            San Francisco, CA 95845
        </li>
    </ul>
    </div>

    <div>
        <ul>
            <li>STAY CONNNECTED</li>
            <li></li>
        </ul>
    </div>
</div>

<div class="rights">
<span class="mt-3"> 2021 copy rights  RavenIt </span>
</div>
