<div class="Custumer fadeIn">
  <h3 class="text-center">CUSTUMER CARE</h3>
  <div class="mensaje">
    <p class="text-center">
      <span>
        Have any quiestions or concerns? We're always ready to help! Call us at
      </span>
      <b style="font-weight: bolder;" class="font-weight-bold">123-456-7890</b> or
      send us an email at
      <span style="font-weight: bolder;">info@mysite.com</span>
    </p>
  </div>


  <div class="rowInput mt-5">
    <div class="inputsJunt">
      <div class="InputDiv">
        <input type="text" placeholder="Name" />
      </div>
      <div class="InputDiv">
        <input type="text" placeholder="Email" />
      </div>
      <div class="InputDiv">
        <input type="text" placeholder="Subject" />
      </div>
    </div>

    <div class="inputSeparado">
      <div class="Message">
        <input type="text" name="" value="" placeholder="Message" />
      </div>
    </div>
  </div>

  <div>
    <p class="text-right">Sumbit</p>
  </div>
</div>
